[Unit]
Description=PHP-FPM process exporter
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/php-fpm-process-exporter --listen :9254
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

